<% if user_signed_in? %>
  <%= form_with url: search_path, method: :get, local: true, html: { class: "form-inline" } do |f| %>
    <div class="form-group mt-2 mr-2">
      <%= f.text_field :word, class: "form-control", placeholder: "キーワードを入力" %>
    </div>
    <div class="form-group mt-2 mr-2">
      <%= f.select :model, options_for_select({"ユーザー" => "User", "練習投稿" => "PracticePost"}), {}, class: "form-control" %>
    </div>
    <div class="form-group mt-2 mr-2">
      <%= f.select :search_method, options_for_select({"完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial"}), {}, class: "form-control" %>
    </div>
    <button type="submit" class="btn btn-primary mt-2">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  <% end %>
<% end %>