<div id="map" style="width: 100%; height: 600px;"></div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= @maps_api_key %>&libraries=places&callback=initMap">
</script>

<%= javascript_pack_tag "maps", "data-turbolinks-track": "reload" %>