<div class="hero-section d-flex align-items-center justify-content-center text-center text-white">
  <div class="overlay"></div>
  <div class="container hero-content">
    <h1 class="display-4 font-weight-bold mb-4">
      ゴルフはスコア管理だけじゃない。</br>
      練習・成長過程をシェアして、</br>
      もっとゴルフを好きになろう！
    </h1>
  </div>
</div>

