<div class="hero-section d-flex align-items-center justify-content-center text-center text-white">
  <div class="overlay"></div>
  <div class="container hero-content">
    <h3 class="display-4 font-weight-bold mb-4">
      ゴルフはスコア管理だけじゃない。</br>
      練習・成長過程をシェアして、</br>
      もっとゴルフを好きに！
    </h3>
    <h4>使い方</h4>
    <li>
      <ul>練習場で気付いたことなどをGolf noteにメモしましょう。</ul>
      <ul>コメント・アドバイスを通じて練習のヒントを交換し合いましょう。</ul>
      <ul>Groupを作成・参加して同じ悩みを持つゴルフ仲間などと繋がりましょう。</ul>
    </li>
  </div>
</div>

