<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="my-5">ユーザー一覧</h4>
        <table class="table">
          <thead>
            <tr>
              <th>ユーザーID</th>
              <th>ユーザー名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td>
                  <%= link_to "#{user.name}", admin_user_path(user) %>
                </td>
                <td><%= user.email %></td>
                <td>
                  <% if user.is_active %>
                    <div class="text-success">有効</div>
                  <% else %>
                    <div class="text-secondary">無効</div>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div> 

