<footer class="border-top text-center" style="border-color:black !important;">
  <div class="container">
    <div class="footer_logo my-3">
      <%= link_to root_path do %>
        <%= image_tag "mygolfnote_logo.png", style: "width: 5%;" %>
      <% end %>
    </div>
    <div class="footer_info">
      <p>(c)copyright MyGolfnote 2025 Allrights reserved.</p>
    </div>
</footer>